@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(img/motherdaughter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: rgba(246, 248, 245, 0.94);
    width: 65em;
    height: 31em;
    padding: 0.3em 7em 0.1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    margin-top: 0.3em;
    color: rgba(76, 167, 114, 1);
    font-size: 1.5em;
    line-height: 30px;
}

.yellow_line {
    background: #FFB425;
    width: 10em;
    height: 0.3em;
    margin: 15px 0 15px;
    border: 0;
}

.green_line {
    background: rgba(76, 167, 114, 1);
    width: 10em;
    height: 0.3em;
    margin: 25px 0 5px;
    border: 0;
}

.main_p {
    margin-bottom: 2em;
}

#hometeachlogo {
    z-index: 10;
    height: 300px;
    width: 200px;
    position: absolute;
    top: 17%;
    left: 43%;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    font-style: normal;
    color: rgba(51, 51, 51, 1);
}

.steps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
}

.step p {
    font-size: 0.9em;
    font-weight: 700;
}

.stepnumber {
    color: rgba(76, 167, 114, 1);
    border: 2px solid rgba(76, 167, 114, 1);
    padding: 0.2em 0.7em;
    border-radius: 47%;
    font-size: 1em;
    font-weight: 400;
}

input {
    width: 50%;
    margin-left: 32.5%;
    margin-right: 32.5%;
    font-size: 1.3em;
    padding: 1.1em;
    font-weight: 700;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    border: 0;
    background-color: #4CA772;
}

input:hover {
    background-color: #4CA772;
    color: #FFB425;
}


/*Responsive mode*/


/*Responsive mode*/


/*Responsive mode*/


/*Mobile Screen*/


/*Max width 700px*/


/*Max width 700px*/


/*Max width 700px*/

@media only screen and (max-width: 700px) {
    /*Tablets  [426px -> 600px]*/
    main {
        width: 85vw;
        height: 80vh;
        padding: 0.7em 7em 0.5em;
        border-radius: 7px;
        margin-top: 5em;
    }
    h1 {
        font-weight: 600;
        letter-spacing: 0.01em;
        margin-top: 0.5em;
        font-size: 1.5em;
        line-height: 27px;
    }
    .yellow_line {
        background: #FFB425;
        width: 10em;
        height: 0.3em;
        margin: 15px 0 15px;
        border: 0;
    }
    .green_line {
        background: rgba(76, 167, 114, 1);
        width: 10em;
        height: 0.3em;
        margin: 15px 0 5px;
        border: 0;
    }
    #hometeachlogo {
        height: 250px;
        width: 170px;
        position: absolute;
        top: 31%;
        left: 37%;
    }
    p {
        font-size: 15px;
    }
    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 30px;
        width: 7rem;
    }
    .step p {
        font-size: 0.7em;
        font-weight: 600;
    }
    .stepnumber {
        padding: 0.2em 0.7em;
        border-radius: 48%;
        text-align: center;
        font-size: 1em;
        font-weight: 400;
    }
    input {
        width: 60%;
        border-radius: 7px;
    }
}


/*Max width 550px*/


/*Max width 550px*/


/*Max width 550px*/

@media only screen and (max-width: 550px) {
    main {
        width: 90vw;
        height: 80vh;
        padding: 0.3em 2em 0.3em;
        border-radius: 7px;
    }
    h1 {
        font-weight: 600;
        letter-spacing: 0.01em;
        font-size: 1.3em;
        line-height: 20px;
    }
    .yellow_line {
        background: #FFB425;
        width: 10em;
        height: 0.3em;
        margin: 50px 0 15px;
    }
    .green_line {
        width: 10em;
        height: 0.3em;
        margin: 25px 0 5px;
    }
    .main_p {
        margin-bottom: 1em;
    }
    #hometeachlogo {
        position: absolute;
        top: 37%;
        left: 35%;
    }
    p {
        font-size: 13px;
        font-weight: 400;
    }
    .steps {
        margin: 10px 0px;
        width: 100%;
    }
    .step {
        margin: 50px 20px;
    }
    .step p {
        font-size: 0.68em;
        font-weight: 700;
    }
    .stepnumber {
        padding: 0.2em 0.7em;
        border-radius: 47%;
        font-size: 0.9em;
        font-weight: 400;
    }
    input {
        width: 50%;
        margin-left: 32.5%;
        margin-right: 32.5%;
        font-size: 1.3em;
        padding: 1.1em;
        font-weight: 700;
        border-radius: 10px;
    }
}


/*Max width 400px*/


/*Max width 400px*/


/*Max width 400px*/

@media only screen and (max-width: 400px) {
    /*Small smartphones [325px -> 425px]*/
    main {
        width: 18em;
        height: 90vh;
        padding: 0.5em 1em 0.2em;
        border-radius: 7px;
        margin-top: 50px;
    }
    h1 {
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.01em;
        margin-top: 0.1em;
        font-size: 1.3em;
        line-height: 25px;
    }
    .yellow_line {
        width: 7em;
        height: 0.2em;
        margin: 10px 0 5px;
    }
    .green_line {
        width: 7em;
        height: 0.2em;
        margin: 10px 0 20px;
    }
    .main_p {
        margin-bottom: 0.5em;
    }
    #hometeachlogo {
        height: 200px;
        width: 150px;
        position: absolute;
        top: 30%;
        left: 30%;
    }
    p {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
    .steps {
        flex-direction: column;
    }
    .step {
        margin: 15px 20px;
    }
    .step p {
        font-size: 0.9em;
        font-weight: 500;
    }
    input {
        width: 70%;
        margin-left: 30%;
        margin-right: 30%;
        font-size: 1em;
        padding: 0.7em;
        font-weight: 700;
        border-radius: 5px;
    }
}