@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(img/motherdaughter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

main {
    background: rgba(246, 248, 245, 0.94);
    position: absolute;
    width: 65em;
    height: 31em;
    left: 10em;
    top: 7em;
    padding: 0.3em 7em 0.1em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    margin-top: 0.3em;
    color: rgba(76, 167, 114, 1);
    font-size: 1.5em;
    line-height: 30px;
}

.yellow_line {
    background: #FFB425;
    width: 10em;
    height: 0.3em;
    margin: 15px 0 15px;
    border: 0;
}

.green_line {
    background: rgba(76, 167, 114, 1);
    width: 10em;
    height: 0.3em;
    margin: 25px 0 5px;
    border: 0;
}

.main_p {
    margin-bottom: 2em;
}

#hometeachlogo {
    z-index: 100;
    height: 300px;
    width: 200px;
    position: fixed;
    top: 27%;
    left: 43%;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    font-style: normal;
    color: rgba(51, 51, 51, 1);
}

.steps {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
}

.step p {
    font-size: 0.9em;
    font-weight: 700;
}

.stepnumber {
    color: rgba(76, 167, 114, 1);
    border: 2px solid rgba(76, 167, 114, 1);
    padding: 0.2em 0.7em;
    border-radius: 47%;
    font-size: 1em;
    font-weight: 400;
}

input {
    width: 50%;
    margin-left: 32.5%;
    margin-right: 32.5%;
    font-size: 1.3em;
    padding: 1.1em;
    font-weight: 700;
    border-radius: 20px;
    color: rgba(255, 255, 255, 1);
    border: 0;
    background-color: #4CA772;
}

input:hover {
    background-color: #4CA772;
    color: #FFB425;
}